<!-- Header -->
<header id="header"{% if page.layout == 'landing' %} class="alt"{% endif %}>
  <h1><a href="{{ site.baseurl }}">{{ site.title }}</a></h1>
  <nav id="nav">
    <ul>
      <li><a href="{{ site.baseurl }}/overview.html">Overview</a></li>
      <li><a href="{{ site.baseurl }}/bom.html">Budget</a></li>
      <li><a href="{{ site.baseurl }}/about.html">Meet The Team</a></li>
      <li>
        <!-- <a href="#menu" class="menuToggle"><span>Progress</span></a> -->
        <div id="menu">
          <ul>
            <li><a href="{{ site.baseurl }}/sprint1.html">Sprint 1</a></li>
            <li><a href="{{ site.baseurl }}/sprint2.html">Sprint 2</a></li>
            <li><a href="{{ site.baseurl }}/sprint3.html">Sprint 3</a></li>
            <li><a href="{{ site.baseurl }}/final.html">Final</a></li>
          </ul>
        </div>
      </li>
    </ul>
  </nav>
</header>
